<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fas fa-film mr-2"></i>
            IMGUR
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" aria-current="page" href="/galleries">Galleries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/photos">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/plan_pricing">Buy Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/about">About</a>
                </li>
            </ul>
            {% if _app.isGuest() %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-1" aria-current="page" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-1" aria-current="page" href="/register">Register</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav mb-2 ms-auto">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-user"></span> {{ _app.displayUserName }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/profile">Profile</a>
                                {% if _app.isAdminUser() %}
                                <a class="dropdown-item" href="/moderator_logging">Moderator Logging</a>
                                <a class="dropdown-item" href="/banner_analytics">Banner Analytics</a>  
                                {% endif %}
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </div>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<div id="wrapper">
    {% for value in _banner %}
        {% if value.position == 'header' %}
            {{ include('layout/banners/horizontal_banner.html', {'banner': value}) }}
        {% endif %}
    {% endfor %}
</div>
{% if _uri == '/' %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
        src="assets/img/carousel.jpeg"
        class="d-block w-100"
        />
    </div>
    <div class="carousel-caption d-none d-md-block">
        <h3>Make your day better</h3>
        <p>Upload some of your favorite pictures and share them with others</p>
    </div>
</div>
{% endif %}