<div class="vertical-banner text-center mb-3">
    <a href="{{ banner.link }}">
        <div class="vertical-banner-header">
            <h2>{{ banner.title }}</h2> 
        </div>
        <div class="vertical-banner-body">
            <p>{{ banner.content }}</p>
        </div>    
        <div class="vertical-banner-footer">
            <span class="btn btn-primary">Click Here</span>
        </div>
        <img src="/assets/banner_img/{{ banner.image }}" alt="" class="vertical-banner-cover img-responsive">
    </a>
    <div class="ad-label">Ad</div>
</div>