{% extends 'layout/main.html' %}

{% block content %}
{% if _session.getSession('register') %}
  <div class="alert alert-success mb-0" role="alert">
    {{  _session.getFlashMessage('register') }}
  </div>
{% endif %}
{{ _session.unsetSession('register') }}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/img/carousel.jpeg"
        class="d-block w-100"
      />
    </div>
    <div class="carousel-caption d-none d-md-block">
          <h3>Make your day better</h3>
          <p>Upload some of your favorite pictures and share them with others</p>
    </div>
</div>
{% endblock %}