{% extends 'layout/main.html' %}
{% block content %}
{% if _session.getSession('register') %}
  <div class="alert alert-success mb-0" role="alert">
    {{  _session.getFlashMessage('register') }}
  </div>
{% endif %}
{{ _session.unsetSession('register') }}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-mdb-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/img/carousel.jpeg"
        class="d-block w-100"
      />
    </div>
    <div class="carousel-caption d-none d-md-block">
          <h3>Make your day better</h3>
          <p>Upload some of your favorite pictures and share them with others</p>
    </div>
</div>
<div class="container-fluid tm-container-content tm-mt-60">
  <div class="row mb-1">
      <h2 class="col-6 tm-text-primary">
          Photos
      </h2>
  </div>
  <hr class="underline">
  <div class="row tm-mb-10 tm-gallery">
  {% for image in imageContent %}
    {% set user = userContent.get(image.user_id) %}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
          <img src="uploads/{{ image.file_name }}" alt="Image" class="img-fluid">
          <figcaption class="d-flex align-items-center justify-content-center">
              <h2>Details</h2>
              <a href="/photo_details?id={{ image.id }}">View more</a>
          </figcaption>                    
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
          <span class="tm-text-gray-light">{{ image.file_name }}</span>
          <a href="/user_profile?id={{ user.0.id }}">{{ user.0.username }}</a>
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="row tm-mb-90">
      <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
          <a href="/photos" class="btn btn-primary tm-btn moreButton"><span class="fas fa-plus"></span>  More</a>
      </div>            
  </div>
</div> 
<div class="container-fluid tm-container-content tm-mt-60">
  <div class="row mb-1">
      <h2 class="col-6 tm-text-primary">
          Galleries
      </h2>
  </div>
  <hr class="underline">
  <div class="row tm-mb-10 tm-gallery">
  {% for gallery in galleryContent %}
    {% set user = userContent.get(gallery.user_id) %}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
          <img src="assets/img/gallery.jpg" alt="Image" class="img-fluid">
          <figcaption class="d-flex align-items-center justify-content-center">
              <h2>Details</h2>
              <a href="/gallery_details?id={{ gallery.id }}">View more</a>
          </figcaption>                    
      </figure>
      <div class="d-flex justify-content-between tm-text-gray">
          <span class="tm-text-gray-light">{{ gallery.name }}</span>
          <a href="/user_profile?id={{ user.0.id }}">{{ user.0.username }}</a>
      </div>
    </div> 
  {% endfor %}
  </div>
  <div class="row tm-mb-90">
      <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
          <a href="/galleries" class="btn btn-primary tm-btn moreButton"><span class="fas fa-plus"></span>  More</a>
      </div>            
  </div>
</div> 
{% endblock %}