{% extends 'layout/main.html' %}
{% block content %}
<div class="container-fluid tm-container-content tm-mt-30">
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row tm-mb-50">  
            <div class="col-xl-2"></div>          
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                <div class="tm-bg-gray tm-video-details rounded-3">
                    <div class="text-center mb-5">
                        <h2 class="tm-text-primary">User: <i>{{ userContent.0.username }}</i></h2>
                    </div>                    
                    <div class="mb-4" id="Details">
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Username: </span><span class="tm-text-primary">{{ userContent.0.username }}</span>
                        </div>
                        <div class="mr-4 mb-2 d-flex flex-wrap">
                            <span class="tm-text-gray-dark">Email: </span><span class="tm-text-primary ms-2">{{ userContent.0.email }}</span>
                        </div>
                        <div class="mr-4 mb-2 d-flex flex-wrap">
                            <span class="tm-text-gray-dark">Profile Status: </span><span class="tm-text-primary ms-2">{{ userContent.0.status }}</span>
                        </div>
                        {% if not _app.isGuest() %}
                            {% if user.isAdmin(_app.session.getSession('user')) %}
                                <div class="mr-4 mb-2 d-flex flex-wrap">
                                    <span class="tm-text-gray-dark">Plan: </span><span class="tm-text-primary ms-2">{{ plan.0.plan }}</span>
                                </div>
                                {% if plan.0.plan != 'free' %}
                                    <div class="mr-4 mb-2 d-flex flex-wrap">
                                        <span class="tm-text-gray-dark">Expire date: </span><span class="tm-text-primary ms-2">{{ planExpire }}</span>
                                    </div>
                                    <div class="mr-4 mb-2 d-flex flex-wrap">
                                        <span class="tm-text-gray-dark">Plan status: </span><span class="tm-text-primary ms-2">{{ plan.0.status }}</span>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div> 
        </div>
        <div class="row tm-mb-50">
            <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 ">
            </div>
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 ">
                {% if not _app.isGuest() %}
                    {% if user.isAdmin(_app.session.getSession('user')) and not user.isYourProfile(id) %}
                        <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                            <button type="button" class="btn btn-primary {% if userContent.isBanned(_app.session.getSession('user')) %} disabled {% endif %} editButton" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Edit Status <span class="fas fa-edit"></span></button>
                        </div> 
                        <div class="col-12 d-flex justify-content-between tm-paging-col mb-3">
                            <div class="collapse mt-2 col-6" id="collapseExample1">
                                <form action="" method = "post">
                                    <div class="btn-group" data-toggle="buttons">

                                        <label class="btn  form-check-label">
                                            <input type="radio"  autocomplete="off" name="status" value="1" {% if user.isActive(id) %} checked {% endif %}> <span class="checkText">Active</span>
                                        </label>

                                        <label class="btn form-check-label">
                                            <input type="radio"  autocomplete="off" name="status" value="2" {% if user.isBanned(id) %} checked {% endif %}> <span class="checkText">Inactive</span>
                                        </label>

                                    </div>
                                    <div class="form-group tm-text-right">
                                        <button type="submit" class="btn btn-primary">Done</button>
                                    </div>
                                </form>
                            </div>
                        </div>  
                        <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                            <button type="button" class="btn btn-primary {% if userContent.isBanned(_app.session.getSession('user')) %} disabled {% endif %} editButton" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample1">Change Role <span class="fa fa-users"></span></button>
                        </div> 
                        <div class="col-12 d-flex justify-content-between tm-paging-col">
                            <div class="collapse mt-2 col-6" id="collapseExample2">
                                <form action="" method = "post">
                                    <div class="btn-group" data-toggle="buttons">

                                        <label class="btn  form-check-label">
                                            <input type="radio"  autocomplete="off" name="role" value="1" {% if not user.isModerator(id) and  not userContent.isAdmin(id) %} checked {% endif %}> <span class="checkText">User</span>
                                        </label>

                                        <label class="btn form-check-label">
                                            <input type="radio"  autocomplete="off" name="role" value="2" {% if user.isModerator(id) %} checked {% endif %}> <span class="checkText">Moderator</span>
                                        </label>

                                        <label class="btn  form-check-label">
                                            <input type="radio"  autocomplete="off" name="role" value="3" {% if user.isAdmin(id) %} checked {% endif %}> <span class="checkText">Admin</span>
                                        </label>

                                    </div>
                                    <div class="form-group tm-text-right">
                                        <button type="submit" class="btn btn-primary">Done</button>
                                    </div>
                                </form>
                            </div>
                        </div>  
                    {% endif %}      
                {% endif %}   
            </div>
        </div>
    </div>
    <div class="row tm-mb-30 tm-gallery">
        <div class="container-fluid tm-container-content tm-mt-30">
            <div class="row mb-4">
                <h2 class="tm-text-primary ">
                    Photos of {{ userContent.0.username }}
                </h2>
            </div>
            <hr class="underline">
        </div>
        {% if imageContent is empty %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-3 mt-2">
                <p class="comment-text">There is no photos</p>
            </div>       
        {% else %}
            {% for image in imageContent %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-3 mt-2">
                <figure class="effect-ming tm-video-item">
                    <img src="uploads/{{ image.file_name }}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Details</h2>
                        <a href="/photo_details?id={{ image.id }}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">{{ image.file_name }}</span>
                </div>
            </div>  
            {% endfor %}
        {% endif %}
        <div class="tm-mb-90">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                <a href="/user_photos?id={{ userContent.0.id }}" class="btn btn-primary tm-btn moreButton {% if imageContent is empty %} disabled {% endif %}"><span class="fas fa-plus"></span>  More</a>
            </div>            
        </div>   
    </div>
    <div class="row tm-mb-30 tm-gallery">
        <div class="container-fluid tm-container-content tm-mt-30">
            <div class="row mb-4">
                <h2 class="tm-text-primary ">
                    Galleries of {{ userContent.0.username }}
                </h2>
            </div>
            <hr class="underline">
        </div>
        {% if galleryContent is empty %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-3 mt-2">
            <p class="comment-text">There is no galleries</p>
        </div>      
        {% else %}
            {% for gallery in galleryContent %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-3 mt-2">
                <figure class="effect-ming tm-video-item">
                    <img src="assets/img/gallery.jpg" alt="Gallery" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>Details</h2>
                        <a href="/gallery_details?id={{ gallery.id }}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">{{ gallery.name }}</span>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <div class="tm-mb-90">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                <a href="/user_galleries?id={{ userContent.0.id }}" class="btn btn-primary tm-btn moreButton {% if galleryContent is empty %} disabled {% endif %}"><span class="fas fa-plus"></span>  More</a>
            </div>            
        </div>  
    </div> 
    {% if not _app.isGuest() %}
        {% if user.isAdmin(_app.session.getSession('user')) %}
            <div class="row mb-4">
                <h2 class="tm-text-primary ">
                    Subscription history
                </h2>
            </div>
            <hr class="underline">
            {% if allPlans is empty %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5 mt-2">
                    <p class="comment-text">There is no data</p>
                </div>   
            {% else %}
                <div class="container-tableSub table-responsive mb-5"> 
                    <div class="wrap-tableSub">
                        <div class="tableSub m-b-110">
                            <div class="tableSub-head">
                                <table>
                                    <thead>
                                        <tr class="rowSub head">
                                            <th class="cellSub column-sub-1">Ord.</th>
                                            <th class="cellSub column-sub-2">Plan Name</th>
                                            <th class="cellSub column-sub-3">Buy Date</th>
                                            <th class="cellSub column-sub-4">Expire Date</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tableSub-body js-pscroll">
                                <table>
                                    <tbody>
                                        {% for value in allPlans %}
                                        <tr class="rowSub body">
                                            <td class="cellSub column-sub-1">{{ loop.index }}</td>
                                            <td class="cellSub column-sub-2">{{ value.plan }}</td>
                                            <td class="cellSub column-sub-3">{{ value.buy_time }}</td>
                                            <td class="cellSub column-sub-4">{{ value.expire_time }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}