{% extends 'layout/auth.html' %}
{% block content %}
<h1>Subscrption</h1>
<form action="" method="post">
    <div class="mb-3 col-lg-4 col-md-5">
        <label class="form-label">User Email</label>
        <input type="text" name="email" class = "form-control" value="{{ user.0.email }}" readonly="true">
    </div>
    <div class="mb-3 col-lg-3 col-md-4">
        <label class="form-label">Payment Method</label>
        <select name="payment_methods" {% if errors.payment_methods == '' %} class="form-select select" {% else %} class="form-select select is-invalid" {% endif %}>
            <option {% if selectedMethod == '' %} selected {% endif %}>Select a payment method</option>
            <option value="credit" {% if selectedMethod == 'credit' %} selected {% endif %}>Credit Card</option>
            <option value="paypal" {% if selectedMethod == 'paypal' %} selected {% endif %}>PayPal</option>
            <option value="crypto" {% if selectedMethod == 'crypto' %} selected {% endif %}>Crypto</option>
        </select>
        {% if errors.payment_methods != '' %} <div class="invalid-feedback">{{ errors.payment_methods }}</div> {% endif %}
    </div>
    <div class="credit box">
        <div class="form-group row mb-3">
            <div class="col-md-5 mb-3 mb-md-0">
                <label class="form-label">First Name</label>
                <input type="text" name="first_name" {% if errors.first_name == '' and values.first_name == '' %} class = "form-control" {% elseif errors.first_name == '' and values.first_name != '' %} class = "form-control is-valid" value = "{{ values.first_name }}" {% else %} class = "form-control is-invalid" {% endif %}>
                {% if errors.first_name != '' %} <div class="invalid-feedback">{{ errors.first_name }}</div> {% endif %}
            </div>
            <div class="col-md-5">
                <label class="form-label">Last Name</label>
                <input type="text" name="last_name" {% if errors.last_name == '' and values.last_name == '' %} class = "form-control" {% elseif errors.last_name == '' and values.last_name != '' %} class = "form-control is-valid" value = "{{ values.last_name }}" {% else %} class = "form-control is-invalid" {% endif %}>
                {% if errors.last_name != '' %} <div class="invalid-feedback">{{ errors.last_name }}</div> {% endif %}
            </div>
        </div>
        <div class="mb-3">
            <label class="btn  form-check-label">
                <input type="radio"  autocomplete="off" name="card_type" value="1" checked> <span class="checkText">Visa</span>
            </label>
            <label class="btn  form-check-label">
                <input type="radio"  autocomplete="off" name="card_type" value="2"> <span class="checkText">MasterCard</span>
            </label>
            <label class="btn  form-check-label">
                <input type="radio"  autocomplete="off" name="card_type" value="3"> <span class="checkText">American Express</span>
            </label>
        </div>
        <div class="mb-3 col-lg-4 col-md-6 col-xs-3">
            <label class="form-label">Card Number</label>
            <input type="text" name="card_num" {% if errors.card_num == '' and values.card_num == '' %} class = "form-control" {% elseif errors.card_num == '' and values.card_num != '' %} class = "form-control is-valid" value = "{{ values.card_num }}" {% else %} class = "form-control is-invalid" {% endif %}>
            {% if errors.card_num != '' %} <div class="invalid-feedback">{{ errors.card_num }}</div> {% endif %}
        </div>
    </div>
    <div class="paypal box">
        <div class="mb-3 col-lg-4">
            <label class="form-label">Paypal Account Email</label>
            <input type="text" name="paypal_email" {% if errors.paypal_email == '' and values.paypal_email == '' %} class = "form-control" {% elseif errors.paypal_email == '' and values.paypal_email != '' %} class = "form-control is-valid" value = "{{ values.paypal_email }}" {% else %} class = "form-control is-invalid" {% endif %}>
            {% if errors.paypal_email != '' %} <div class="invalid-feedback">{{ errors.paypal_email }}</div> {% endif %}
        </div>
    </div>
    <div class="crypto box">
        <div class="mb-3 col-lg-4">
            <label class="form-label">Crypto Account Email</label>
            <input type="text" name="crypto_email" {% if errors.crypto_email == '' and values.crypto_email == '' %} class = "form-control" {% elseif errors.crypto_email == '' and values.crypto_email != '' %} class = "form-control is-valid" value = "{{ values.crypto_email }}" {% else %} class = "form-control is-invalid" {% endif %}>
            {% if errors.crypto_email != '' %} <div class="invalid-feedback">{{ errors.crypto_email }}</div> {% endif %}
        </div>
    </div>
    <div class="mb-3 col-lg-2 col-md-3 col-xs-3">
        <label class="form-label">Plan</label>
        <input type="text" name="plan" class = "form-control" value="{{ plan }}" readonly="true">
    </div>
    <div class="mb-3 col-lg-1 col-md-2 col-xs-3">
        <label class="form-label">Amount</label>
        <input type="text" name="amount" class = "form-control" value="{{ amount }}" readonly="true">
    </div>
    <div class="form-group col-lg-6">
        <label class="form-label">Additional note</label>
        <textarea rows="8" name="note" class = "form-control"></textarea>
    </div>
    <div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}